* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #e74c3c, #16a085);
}
.app {
  width: 360px;
  height: 580px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #16a085;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}