* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    padding: 20px 10px 10px 10px;
    background: #ecf0f1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.app.click {
    display: none;
    transition: 1s;
}

h1 {
    text-align: center;
}

.add-node {
    width: 50px;
    height: 50px;
    background-color: #2ed573;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-150%, -150%);
}

.add-node>img {
    cursor: pointer;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* conten */

.conten {
    /* margin-top: 20px;
    width: 100%;
    height: 90%;
    border: 1px solid #95a5a6;
    border-radius: 10px;
    overflow: auto; */
    width: 100%;
    height: 90%;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #95a5a6;
    top: 60px;
    left: 0px;
    overflow: auto;
    z-index: -1;
}

.conten::-webkit-scrollbar {
    width: 5px;
}

.edit_item{
    width: 100%;
    height: 90%;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #95a5a6;
    top: 60px;
    left: 0px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.input{
    position: relative;
    margin-top: 5px;
}
.input >input{
    border: none;
    background: none;
    font-size: 15px;
    width: 95%;
    border-bottom: 1px solid #2c3e50;
    padding: 5px 5px 5px 15px;
    margin-top: 20px;
}
.input>input:focus{
    outline: none;
}
.input>span::before{
    content: attr(data-placeholder);
    position: absolute;
    padding-left: 1em;
    top: 50%;
    z-index: -1;
    color: #2c3e50;
    display: block;
    transition: 0.3s;
}
.focus+span::before {
    top: -0px;
}


.edit_item>textarea{
    font-size: 15px;
    width: 20em;
    height: 85%;
    margin: auto;
    border: none;
    background: #ecf0f1;
    padding: 2px 1em;
    
}

.edit_item>textarea:focus{
   outline: none;
}

.item {
    margin-top: 10px;
    padding: 0 5px 0 5px;
    border-bottom: 1px solid #95a5a6;
}

.item:last-child {
    border-bottom: none;
}


/* From input */

.from-add-conten {
    display: none;
    width: 70%;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    border: 1px solid #2980b9;
    border-radius: 25px;
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    z-index: 1;
}

.from-add-conten.click {
    display: block;
    transition: 1s;
}

.txt {
    border: none;
    font-size: 15px;
    background: none;
    outline: none;
    margin-top: 20px;
    padding: 0px 5px;
    width: 100%;
    height: 40px;
    position: relative;
}

.txt>input {
    margin: 20px 0;
    border: none;
    background: none;
    font-size: 15px;
    width: 100%;
    border-bottom: 1px solid #2c3e50;
    padding: 5px;
}

.txt>input:focus {
    outline: none;
}

.txt>span::before {
    content: attr(data-placeholder);
    position: absolute;
    left: 7px;
    top: 50%;
    z-index: -1;
    color: #2c3e50;
    display: block;
    transition: 0.3s;
}

.focus+span::before {
    top: -0px;
}


/* btn css */

.btn {
    display: flex;
    position: absolute;
    right: 5%;
    margin: 25px 0 25px 25px;
}

.btn>div {
    cursor: pointer;
    margin: 0 10px 0 10px;
    width: 60px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient();
}

@media only screen and (min-width: 600px) {
    body {
        min-height: 100vh;
        background-image: linear-gradient(120deg, #e74c3c, #16a085);
    }
    .app {
        width: 360px;
        height: 580px;
        border-radius: 10px;
        border: 1px solid #16a085;
    }
}