.conten {
    /* margin-top: 11px;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    overflow: auto; */
    position: relative;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    height: 33em;
    z-index: -1;
    overflow: auto;
}

.conten::-webkit-scrollbar {
    width: 5px;
}

.item {
    margin-top: 10px;
    padding: 0 5px 0 5px;
    border-bottom: 1px solid #95a5a6;
}

.item:last-child {
    border-bottom: none;
}